@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@layer base {
  body {
     font-family: "Poppins", sans-serif;
  }
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-comic: "Comic Neue", cursive;
}

@layer utilities {
  .text-outline-05 { -webkit-text-stroke: 0.5px black; }
  .text-outline-1 { -webkit-text-stroke: 1px black; }
  .text-outline-2 { -webkit-text-stroke: 2px black; }
  .text-outline-3 { -webkit-text-stroke: 3px black; }
}